<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- css files -->
<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

    <title>Fake Currency Detection</title>
</head>
<body style="background-color: #edf2f7 ; display: flex;flex-direction: column;justify-content: center;align-items: center">
    <h1>Fake Currency Detection</h1>
    <div class="mt-5">
        <form action = "/predict" method="POST" enctype="multipart/form-data">
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center"">
               
            <input class="form-control form-control-lg" style="outline:none;" id="file" name="file" type="file">
            <label for="formFileLg" class="form-label">Upload the currency image</label>
            <br>
             <button type="submit" value = "upload" class="btn btn-outline-dark">Submit</button>
            </div>
           
        </div>
    </form>
    <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;gap: 30px">
        <div>
             <img style="width : 300px;height:200px; margin-top:2rem " src="/static/sample_testing/{{image_file_name}}" alt="">
    </div>
    <div>
        <h3>Fake Probability : {{ prediction_text[0][0]}} </h3>
        <h3>Real Probability : {{ prediction_text[0][1]}} </h3>
        <div class=metanav>
            {% if prediction_text[0][1] >= 0.7 %}
              <h3> Status : Real Note ✔️</h3>
            {% else %}
            <h3>Status : Counterfeit Note ❌ </h3>
            {% endif %}
            </div> 
    </div>

    </div>


</body>

</html>